.error-404 {
    .flex {
        max-width: 300px; 
        margin: 0 auto;

        .btn {
            color: #FFF !important; 
            width: 100%; 
            margin-top: 10px;
            margin-left: 5px; 
            margin-right: 5px;
        }
    }
}