// .lazyload {
// 	opacity: 0;
// }

// .lazyloading {
// 	background: url("../../dist/images/shared/ajax-loader.gif") no-repeat center;
// }

.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

div[id*="archive-image-"].blur-up.lazy,
.blur-up {
    filter: blur(5px);
    transition: filter 400ms;
}

div[id*="archive-image-"].blur-up,
.blur-up.lazyloaded {
    filter: blur(0);
}