.gift-ideas {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 2em;
	    padding-right: 2em;
        margin: 0 auto;
        max-width: $max__width;

        .individual-gift {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex: 1 0 51%;
            padding: 0;
            margin: 0;
            overflow: hidden;
            transition: all .3s ease;
            position: relative;
            text-decoration: none;
            //border: 1px solid #CCC;
            border-bottom-right-radius: 10px;
	        border-bottom-left-radius: 10px;
            background-color: transparent;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: cover;
            height: 250px;
            margin-top: 10px; 
        }
    }

    &__header {
        text-align: center;
        color: $secondary;
        margin-top: 3em;
        margin-bottom: 1em;
        font-size: 1.4em;
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        line-height: 1.1;
        text-align: center;
        color: #FFF;
        height: 3.2em;
        background: linear-gradient(transparent,rgba(0, 0, 0, .5));
        width: 100%;
        padding: .5em;
    }
}

@media all and (min-width: 640px) {
    .gift-ideas {
        &__wrapper {
            .individual-gift {
                flex: 1 0 47%;

                &:nth-child(odd) {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media all and (min-width: 1024px) {
    .gift-ideas {
        &__wrapper {
            .individual-gift {
                flex: 1 0 15%;
                margin-right: 10px;
                margin-top: 0;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}