.product {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 1em;
	    padding-right: 1em;

        .individual-product {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex: 0 0 15%;
            padding: 0;
            margin: 0;
            overflow: hidden;
            transition: all .3s ease;
            position: relative;
            text-decoration: none;
            margin-right: 10px;
            border-bottom-right-radius: 10px;
	        border-bottom-left-radius: 10px;
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 200px;
            margin-top: 10px; 
        }
    }

    &__header {
        text-align: center;
        color: $secondary;
        margin-top: 3em;
        margin-bottom: 1em;
        font-size: 1.4em;
    }

    &__name {
        max-width: 300px;
	    margin: 0 auto;
        font-size: 17px;
        line-height: 1.1;
        text-align: center;
        color: $secondary;
        width: 100%;
        padding: .5em;
    }
}

@media all and (min-width: 768px) {
    .product {
        &__wrapper {
            padding-left: 3em;
	        padding-right: 3em;
        }
    }
}