// Footer

.site-footer {
    background-color: rgba(221, 221, 221, 0);
    background-image: url("../../dist/images/shared/footer.png");
    background-size: cover;
    padding-top: 4em;

    a {
        color: $secondary !important;
        text-decoration: none;

        &:hover {
            color: $primary !important;
            text-decoration: underline;
        }
    }
}

.footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
}

.head-section {
    display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;

    .sub-sections {
        flex: 1 0 25%;
        padding: 0 10px;
        margin-top: 1em;

        &:first-child {
            margin-top: 0;
        }
    }
}

.sections {
    margin: 4px;
    padding: 0 10px;
}

.section-title {
    color: $primary;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
}

.section-content {
    color: $secondary;
}

.footer-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.col-full {
    margin-left: 1.41575em;
    margin-right: 1.41575em;
    padding: 0;
}

@media (min-width: 568px) {
    .col-full {
        margin-left: 2.617924em;
        margin-right: 2.617924em;
    }
}

@media (min-width: 768px) {
    .col-full {
        max-width: $max__width;
        margin-left: auto;
        margin-right: auto;
        padding: 0 2.617924em;
        box-sizing: content-box;
    }

    .site-footer {
        padding-top: 7em;
	    padding-bottom: 3em;
    }

    .head-section {
        flex-flow: row wrap;

        .sub-sections {
            margin-top: 0;

            &:nth-child(n+4) {
                margin-top: 2em;
            }
        }
    }
}