// Header

.site-header {
    padding: 0 30px;
	margin: 0 auto;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .07);

    .site-branding {
        text-align: center;
        padding-top: 1.5em;
    }

    .main-navigation {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;

        .main-menu {
            text-transform: uppercase;
        }
    
        ul {

            li {
                padding: 12px;
            }
    
            a {
                color: $secondary;
    
                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .secondary-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        margin-top: 1.5em;

        .account {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #888;
            text-transform: uppercase;
    
            a {
                display: flex;
                color: $secondary;
                text-decoration: none;
    
                &:hover {
                    color: $primary;
                }
    
                svg {
                    width: 20px;
                    height: 20px;
                    margin-left: 5px;
                    margin-right: 5px;
                    fill: #888;
    
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }   
}