.masonry__container {
    margin: 0 auto;
    max-width: 960px;
    padding: 3em 20px;

    .columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;

        .individual-category {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex: 0 0 15%;
            padding: 0;
            margin: 0;
            overflow: hidden;
            transition: all .3s ease;
            position: relative;
            text-decoration: none;
            border-radius: 10px;
            background-color: transparent;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: cover;
            height: 250px;
            margin-bottom: 1em;

            .category__name {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (min-width: 480px) {
    .masonry__container {
        .columns {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-width: 50%;
            -moz-column-width: 50%;
            column-width: 50%;
        }
    }
}

@media only screen and (min-width: 728px) {
    .masonry__container {
        .columns {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            -webkit-column-width: 33.33333333333333%;
            -moz-column-width: 33.33333333333333%;
            column-width: 33.33333333333333%;
        }
    }
}