.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-content {
	max-width: $max__width;
	text-align: center;
	margin: 1em auto;
}